*/packages/
*/Webpages/
src/Browser/bin/
src/Browser/obj/
src/Config/bin/
src/Config/obj/
src/PhotoViewer/bin/
src/PhotoViewer/obj/
src/ImageSearcher/bin/
src/ImageSearcher/obj/
test/BrowserTest/bin/
test/BrowserTest/obj/
test/TestImageSearcher/bin/
test/TestImageSearcher/obj/
Installer/PhotoViewerInstaller/bin
Installer/PhotoViewerInstaller/obj
Installer/PhotoViewerMSIInstaller/bin
Installer/PhotoViewerMSIInstaller/obj
*/obj/*
.vs/